html,
body {
  scroll-behavior: smooth;
  height: 100%;
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next,
#page-container {
  height: 100%;
  min-height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  height: 10px;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a9a9a9;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: gotuRegular;
  src: url('/fonts/Gotu-Regular.ttf');
}

* {
  font-family: gotuRegular, serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #181818;
  color: #ffffff;
  /* background-image: linear-gradient(#181818,#303030); */
}

.top-page-container {
  width: 100%;
  height: 100%;
  background-color: #181818;
  background-image: linear-gradient(135deg,#181818,rgba(105,0,199,.8));
}
.page-header {
  position: relative;
}

.page-header header {
  width: 79%;
  margin: auto;
  padding: 22px 22px 0 22px;
}

.page-header header div .name {
  font-size: 27px;
}

.page-header .job-title {
  padding: 10px;
  margin-top: -28px;
}

.page-header .avatar--container {
  width: 190px;
  margin: auto;
}

.page-header .avatar--container img.avatar {
  width: inherit;
  border-radius: 50%;
  margin-bottom: 15px;
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  cursor: pointer;
}

.page-header .avatar--container svg {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 38px;
  fill: #BCBCBC;
  transition: 0.3s ease-in-out;
}

.page-header .avatar--container:hover svg {
  fill: #990101;
  stroke: #990101;
}

.top-threeee-fronter-container {
  background-color: transparent;
  position: relative;
  margin-top: -10.5em !important;
}

.top-threeee-fronter-container .top-three-item,
.notable-mentions .notable-mentions-item,
.footer__container-pirej .contact--me_at .contact--me___item {
  width: 100%;
  height: 440px;
  min-height: 440px;
  max-height: 440px;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.top-threeee-fronter-container .top-three-item:hover {
  -webkit-transform: translateY(-14px);
  transform: translateY(-14px);
}

.top-threeee-fronter-container .top-three-item img,
.notable-mentions .notable-mentions-item img {
  width: inherit;
  height: inherit;
  min-height: inherit;
  max-height: inherit;
  border-radius: 0.4rem;
  transition: 0.5s ease;
}

.top-threeee-fronter-container .top-three-item .content.overlay {
  position: absolute;
  bottom: 0;
  min-height: 130px;
  width: 100%;
  padding: 16px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  transition-delay: 0.15s;
  transition: 0.5s ease;
}

.top-threeee-fronter-container .top-three-item .content h5 {
  display: inline-block;
}

.top-threeee-fronter-container .top-three-item .content span {
  display: block;
  height: 2px;
  margin: 3px 0;
  background-color: #ffffff;
  width: 40%;
}

.cool-stuff-I-do__container {
  margin: 4em 0;
}

.btn {
  border: none;
  border-radius: 100rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
  margin: 2rem auto;
  min-width: 140px;
  padding: 1.15rem 2.45rem;
  text-align: center;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  z-index: 10;
  color: rgb(255, 255, 255) !important;
  text-transform: uppercase;
}

.btn-primary {
  background: linear-gradient(30deg, rgba(105,0,199,.8) 0%, rgb(71, 104, 180) 100%);
}

.notable-mentions .notable-mentions-item {
  height: 340px;
  min-height: 340px;
  max-height: 340px;
}

.badge-taggg {
  color: rgb(51, 52, 56);
  background-color: rgb(240, 240, 240);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 12px;
  border-radius: 100rem;
  padding: 0.25rem 1rem;
  position: absolute;
  z-index: 1;
  top: 15px;
}

.badge-taggg.left {
  left: 15px;
}

.badge-taggg.right {
  right: 15px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6);
  color: rgb(240, 240, 240);
  max-height: 32px;
  padding: 0 14px;
}

.badge-taggg.whitebg-right {
  background-color: #d8d8d8;
  right: 15px;
}

.notable-mentions .notable-mentions-item .content.overlay {
  position: absolute;
  bottom: 0;
  height: 340px;
  width: 100%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
  max-height: 60%;
  opacity: 0;
}

.notable-mentions .notable-mentions-item:hover .content.overlay {
  max-height: 100%;
  opacity: 1;
}

.notable-mentions .notable-mentions-item .content.overlay .main.bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 16px;
}

.mb-desktop--10 {
  margin-bottom: 10em !important;
}

.nuxt-logo__text {
  text-transform: uppercase;
}

.nuxt-logo__text .js {
  color: #00c58e;
  margin-left: 5px;
}

.svg-border-rounded svg {
  position: absolute;
  bottom: 0;
  left: 0;
  fill: rgba(105,0,199,.8);
  width: 100%;
}

/* FOOTER HERE */
.footer__container-pirej {
  color: #ffffff;
  background-color: #1D1624;
  background-image: linear-gradient(rgba(105,0,199,.8) 5%, #181818);
}

.footer__container-pirej .content {
  padding: 1em 0;
}

.footer__container-pirej .content svg {
  fill: #990101;
  stroke: #990101;
  margin-left: 5px;
  padding-bottom: 3px;
}

.btn.copyright {
  cursor: text !important;
  font-size: 14px;
  margin: 0;
  padding: 12px 20px;
  color: rgb(255, 255, 255) !important;
  text-transform: none;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.2);
  box-shadow: #282828 0px 2px 6px;
}

.footer__container-pirej .contact--me_at {
  margin-bottom: 2.5em;
}

.footer__container-pirej .contact--me_at .contact--me___item {
  height: 180px;
  min-height: 180px;
  max-height: 180px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  transition: 0.15s ease-in-out;
}

.footer__container-pirej .contact--me_at .contact--me___item:hover {
  transition: 0.25s ease-in-out;
}

.footer__container-pirej .contact--me_at .contact--me___item:hover svg {
  transition: 0.25s ease-in-out;
  stroke: #ffffff;
  fill: #ffffff;
}

.footer__container-pirej .contact--me_at .contact--me___item.github:hover {
  background: #080808;
}

.footer__container-pirej .contact--me_at .contact--me___item.linkedin:hover {
  background: #0e76a8;
}

.footer__container-pirej .contact--me_at .contact--me___item.twitter:hover {
  background: #001c4a;
}

.footer__container-pirej .contact--me_at .contact--me___item.twitter:hover svg {
  transition: 0.25s ease-in-out;
  stroke: #00acee;
  fill: #00acee;
}

.footer__container-pirej .contact--me_at .contact--me___item.yahoo:hover {
  background: #6001D2;
}

.footer__container-pirej .contact--me_at .contact--me___item svg {
  stroke: #ffffff;
  fill: none;
}
/* FOOTER HERE ENDS */

@media (max-width: 768px) {
  .h1, h1 {
    font-size: 2rem;
  }
  .h2, h2 {
    font-size: 1.5rem;
  }
  .mb-desktop--10 {
    margin-bottom: 7em !important;
  }
  .footer__container-pirej .contact--me_at .contact--me___item {
    height: 140px;
    min-height: 140px;
    max-height: 140px;
  }
}

@media (max-width: 580px) {
  .h1, h1 {
    font-size: 1.7rem;
  }
  .h2, h2 {
    font-size: 1.35rem;
  }
  .mb-mobile--5 {
    margin-bottom: 4em !important;
  }
  .btn.copyright {
    font-size: 13px;
  }
  .footer__container-pirej .contact--me_at .contact--me___item {
    height: 100px;
    min-height: 100px;
    max-height: 100px;
  }
  .footer__container-pirej .contact--me_at .contact--me___item svg {
    width: 36px;
    height: 36px;
  }
}
